<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="icon" type="image/x-icon" href="../LOGO.png">

    <link rel="stylesheet" href="../footer.css">
    <link rel="stylesheet" href="../404page_style.css" />
    
    <title>Error 404</title>
  </head>
  <body>
    <%- include('partials/navbar', {q: "" , active: "" }); %>

    <div class="error_box">
      <p class="e404">404</p>
      <p class="oops">OOPS! PAGE NOT FOUND</p>
      <p class="messege">Sorry, the page you're looking for doesn't exist.</p>
      <div class="btns-box">
        <a href="/"><button class="btns home-btn">RETURN HOME</button></a>
      </div>
    </div>
    <%- include ('partials/footer') %>

  </body>
</html>