.sec1 {
    width: 100%;
    background: url("https://uploads-ssl.webflow.com/5a885600d9716c0001a422b2/6262ccfc99b9de80dbdf73f7_types-of-books-p-1080.jpeg");
    background-size: 100% 70%;
    min-height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden;
    background-attachment: fixed;
    background: cover;
    position: relative;
    transition: 50ms;
}

img:hover {
    transform: scale(1);
    border: none;
}

.sec1 {
    min-height: 37vh;
}

.name {
    display: flex;
    gap: 10px;
    align-items: center;
}

.name h4 {
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 18px;
    color:#8a8a8ab9;
    transition: .5s;


}

.sec2 {
    padding: 0 5%;
    display: flex;
    height: 20vh;
    gap: 20px;
    justify-content: space-evenly;

}

.sec2 i {
    color: #aeaeae;
}

.sec4 h2::after {
    transform: scaleX(.2);
}

.sec2 img {
    border-radius: 50%;
    width: 210px;
    height: 210px;
    position: absolute;
    background-size: cover;
    border: white solid 5px;
    box-shadow: 0px -2px 20px 1px rgb(0 0 0 / 30%);
}

.autordata {
    display: flex;
    flex-direction: column;
    width: 514px;
    gap: 10px;

}

.d1 h4 {
    margin: 0;
}

.d1,
.d2,
.d3,
.d4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    align-items: center;
}

.d3{
    gap:10px
}
.sec2 p {
    color: rgba(0, 0, 0, 0.925);
}



h4 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
}

.details {
    display: flex;
    gap: 20px
}

.edit {
    border-radius: 50%;
    height: 30px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px #e6e4e4;
    margin-top: 50px;
    justify-self: end;
    background-color: #fbfbfbc6;
    position: relative;
    right: 50px;
}

.edit::after {
    content: "...";
    position: relative;
    top: -3.5px;
    color: #8a8a8a;
}

.lol {
    display: flex;
    gap: 20px;
}

.Morebooks h2::after {
    display: block;
    content: '';
    border-bottom: solid 2px #cd7e68;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
    margin-bottom: 15px;
}

.Morebooks h2 {
    display: inline-block;
    padding-left: 10px;

}

.s1 h2::after {
    transform: scaleX(1);
}

.s2 h2::after {
    transform: scaleX(1);


}

.Morebooks {
    width: 350px;
    display: table;
    border-radius: 10px;
    background-color: white;
    border: .1px solid #0004402e;
    padding: 5px;


}

.recent {
    margin-bottom: 5px;


}

.booksrecent {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
    justify-content: center;
align-items: center;
}

.booksrecent img {
    cursor: pointer;
}

.recent:first-child img {
    width: 100px;
    margin-bottom: 10px;

}

.recent .rating img {
    width: 25px;
    height: 25px;

}

.sec4 {
    background-color: #f4f4f4;
    padding: 3%;
    display: table;

}

#show_cont{
    height: 533px;
}

.contaier {
    width: 180px;
    background-color: white;
    min-height: 40px;
    border-radius: 20px;
    padding: 5px 15px;
    position: relative;
    box-shadow: 0px 3px 24px -4px #00044045;
    top: -20px;

}

.tag {
    margin: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000068;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #000068;
    border-radius: 25px;
    background-color: transparent;
    transition: color 0s ease-in-out, background-image 1s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}


a {
    display: inline;
}

.blogss {
    background-color: #000440;
    color: white;
    border: 2px solid #000440;
    border-radius: 20px;
    padding: 2px 15px;
    transition: .3s;
}

.bookss {
    background-color: white;
    color: #000440;
    border-radius: 20px;
    padding: 2px 15px;
    border: 2px solid #000440;
    transition: .3s;

}

.autordata h1 {
    background: -webkit-linear-gradient(#0611a9, rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li:hover:after {
    transform: scaleX(0);
}

.logo img {
    width: 58px;
    height: 42px;
    position: absolute;

    top: 5px;
    left: 10px;
    z-index: 55;
}

.authorBooks {
    background-color: white;
    border-radius: 5px;
    width: 1000px;
    box-shadow: 0 0 10px 1px #00044028;

    display: none;
    transition: 1s ease;
    min-height: 50vh;
}

.authordone {
    display: flex;
    flex-direction: column;
}

.authorleft {

    width: 300px;
}

.authorright {
    flex-direction: row;
}

.authorr {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 100px;

}

.authorright {
    width: 800px;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

.mybooks h2::after {
    display: block;
    content: '';
    border-bottom: solid 2px #cd7e68;
    transform: scaleX(1.3);
    transition: transform 250ms ease-in-out;
    margin-bottom: 15px;
}

.onebook img {
    width: 100%;
    height: 33vh;
}

.onebook {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.thebooks {
    display: grid;
    padding: 20px 10px;
    width: 100%;
    grid-template-columns: auto auto auto auto;

    justify-content: space-evenly;
    row-gap: 40px;

}

.onebook h6 {
    color: rgba(0, 0, 0, 0.667);
}

.onebook p {
    color: #050d86;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 22px;

}

.bookname {
    margin: 0;
}
.img {
    position: relative;
    top: -105px;


}
#editname{
    display: grid;

}
#Edittitle{
    grid-column: 1;
    grid-row: 1;
    display: none;
    transition: .5s;
}
#editname h1{
    grid-column: 1;
    grid-row: 1;
    transition: .5s;

}
#Edittitle{
    background: -webkit-linear-gradient(#0611a9, rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 2px solid #0004407c;
    border-radius: 2px;
    font-family: "Segoe UI",Arial,sans-serif;
}
.file-image,.file-image1{
    width: 200px;
    height: 200px;
    padding: 40px 0;
    border: 2px dashed #000068;
    text-align: center;
    display: flex;
    border-radius: 50%;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
   background: rgba(255, 255, 255, 0.7);
   top: 5px;
   left: 5px;
transition: .5s ease-out;
  }
  .file-image1{
    background-attachment: fixed;
    border-radius:2px;
    width: 105%;
    height: 320px;
    left: -5px;

  }
  #inputPostimg{
    display: none;
  }
  label.userGender input[type="radio"]{
    color: #000068;
  }
  .file-image img:first-child,.file-image1 img:first-child{
    position: absolute;
   opacity: 0;
   border-radius: 50%;
   left: -7px;
   top: -7px;
   width: 210px;
   height: 210px;
   position: absolute;
   background-size: cover;
   border: white solid 5px;
   box-shadow: 0px -2px 20px 1px rgb(0 0 0 / 30%);
   padding: 2px;
   transform: scale(1.1);
  }
  .file-image1 img:first-child{
    border-radius: 0;
    width: 100%;
    height: 320px;
    
    transform: scale(1);

  }
  .file-image img,.file-image1 img{
    width: 180px;
    height: 180px;
    border: none;
    top: -10px;
    left: 10px;
    transform: scale(.8);
    box-shadow: none;
    border-radius: 0;

  }
  .file-image1 img{
 width: 250px;
    height: 250px;
  }
  .file-image p,.file-image1 p{
    position: absolute;
    width: 180px;
    top:145px;
    left: 10px;
    font-weight: bold;
    font-size: 12px;
    background: -webkit-linear-gradient( left,#0918ec, rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .file-image1 p{
    left: 45%;
    top: 214px;
  }
  uploadedImg1{
    height: 100%;

  }
  #SubmitEdit{

 display: none;
    background-color: #151a27;
    color: white;
border-color:#151a27 ;
position: relative;
cursor: pointer;
padding: 5px 20px;
border-radius: 5px;
font-size: 18px;
transition: .5s;
  
  }
  #SubmitEdit:hover{
    background-color: #2b3d6a;
   
  }
  #dropDown{
    display: none;
    width: 300px;
    border-radius: 10px;
    height: max-content;
  
    background-color: #151a27;
    flex-direction: column;
    padding: 10px 20px;
    padding-bottom: 20px;
  color:#ffffff;
  position: fixed;
  z-index: 50;
  top: 75px;
  left: 85px;
  box-shadow: #8787878e 0 0 10px;
  
  }
  #dropDown h3{
    font-size: 22px;
    letter-spacing: 1px;
  }
  #dropDown >*{
    position: relative;
    z-index: 50;
  }
  #dropDown img{
    border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 2px solid #ffffff;
  padding: 2px;
  
  
  }
  #tre{
      width: 84px;
      height: 65px;
      background-color: #151a27;
      z-index: 49;
      top: 76px;
      transform: rotate(45deg);
      position: fixed;
  
  }
  #userDetiles{
  display: flex;
  align-items: center;
  gap:20px;
  height: 100px;
  border-bottom: 1px solid #444444dc;
  }
  #buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
  }
  #buttons button{
    font-size: 18px;
    padding: 10px ;
  background: transparent;
  transition: .25s;
  border: none;
  border-bottom: 1px solid #444444dc;
  color: #e1e6e9;
  width: 259px;
  cursor: pointer;
  
  }
  #buttons button:hover{
    background-color: #516599;
  }
  #addmoney{
    display: none;
    padding: 10px 0;
  transition: .2s;
    border-bottom: 1px solid #444444dc;
  }
  
  #addmoney input{
  color: #010101;
  background-color: white;
  border-radius: 15px 0 0 15px;
  padding-left: 10px;
  }
  #addmoney input:focus{
  border: none;
    }
  #addmoney input:last-child{
    border-left: 1px solid #444444dc;
    border-radius: 0 15px  15px 0;
    padding-left: 0px;
    cursor: pointer;
    width: 140px;
  
  }
  #addmoney input:last-child:hover{
    background-color: #516599;
  
  
  }
  #addmoney input::placeholder{
    color: white;
  }
  
#Changepass{
    display: flex;
    width: 300px;
    border-radius: 10px;
    height: 280px;
    background-color: #151a27;
    flex-direction: column;
    padding: 10px 20px;
    color: #ffffff;
    position: fixed;
    z-index: 50;
    top: 75px;
    left: 85px;
    box-shadow: #151a278e 0 0 10px;

}
#Changepass img{
    border-radius: 50%;
width: 80px;
height: 80px;
border: 2px solid #ffffff;
padding: 2px;

}
#Changepass h2{
    padding: 20px ;
    text-align: center;
    border-bottom: 1px solid #444444dc;
    margin-bottom: 10px;
}
#changein {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#changein input{
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
background: #fafafadc;
transition: .25s;
border: none;
border-bottom: 1px solid #444444dc;
width: 259px;
}
#Changepass button{
    background-color: #516599;
    width: 100px;
    padding: 10px 20px;
    color: white;
    border: #ffffff37 1px solid;
    border-radius: 10px;
    align-self: flex-end;
}
#Edittitle:focus{
    border: none;
    border-bottom: 2px solid #0004407c;
}